[submodule "RangeFilteredANN"]
	path = RangeFilteredANN
	url = https://github.com/JoshEngels/RangeFilteredANN.git
[submodule "UNIFY"]
	path = UNIFY
	url = https://github.com/sjtu-dbgroup/UNIFY.git
[submodule "Dynamic-Range-Filtering-ANNS"]
	path = Dynamic-Range-Filtering-ANNS
	url = https://github.com/rutgers-db/Dynamic-Range-Filtering-ANNS.git
[submodule "SeRF"]
	path = SeRF
	url = https://github.com/rutgers-db/SeRF.git
[submodule "iRangeGraph"]
	path = iRangeGraph
	url = https://github.com/YuexuanXu7/iRangeGraph.git
[submodule "nsg"]
	path = nsg
	url = https://github.com/ZJULearning/nsg.git
